{% extends 'base.html' %}


{% block main %}
<div class="container-fluid mx-5">
    <div class="container  mb-3">
        <div class="container text-center">
            <div>
                <h1 class="bg-danger text-white my-3 d-inline-flex">Заголовок</h1>
            </div>
        </div>
    </div>
    <div class="container mb-3">
        <div class="row col-rows-2 justify-content-center">
            <div class="col text-center">
                <h3 class="bg-primary text-white">Вариант 1</h3>
                <div class="h-50 overflow-y-auto p-5">
                    <span>
                        Длинноое содержание (случайный текст)
                        Значимость этих проблем настолько очевидна, что постоянное информационно-техническое обеспечение
                        нашей деятельности напрямую зависит от дальнейших направлений развитая системы массового участия?
                        С другой стороны постоянное информационно-техническое обеспечение нашей деятельности способствует
                        подготовке и реализации форм воздействия! Повседневная практика показывает, что постоянный
                        количественный рост и сфера нашей активности создаёт предпосылки качественно новых шагов для
                        дальнейших направлений развитая системы массового участия.
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <h3 class="bg-primary text-white">Вариант 2</h3>
                </div>
                <div class="h-50 overflow-y-auto px-5 py-2">
                    <span>
                        Длинноое содержание (случайный текст)
                        Значимость этих проблем настолько очевидна, что постоянное информационно-техническое обеспечение
                        нашей деятельности напрямую зависит от дальнейших направлений развитая системы массового участия?
                        С другой стороны постоянное информационно-техническое обеспечение нашей деятельности способствует
                        подготовке и реализации форм воздействия! Повседневная практика показывает, что постоянный
                        количественный рост и сфера нашей активности создаёт предпосылки качественно новых шагов для
                        дальнейших направлений развитая системы массового участия.
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <table  class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Продукт</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Качество</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Продукт 1</td>
                    <td>100</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td scope="col">Продукт 2</td>
                    <td scope="col">1000</td>
                    <td scope="col">7</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
{% endblock main %}
